<a href="https://colab.research.google.com/github/Yashthon/Functions-in-python/blob/main/Implementing_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

`Execute following code and write your observations`

In [ ]:
# Getting input from the user
number=int(input("Enter a number "))# Taking input from the user int the form of integer.
print("The number is ",number) # the inputed value is getting printed
print(type(number)) # printing the dta type of the input value
 
print(11,22,23,24,25) # printing numbers
print(11,22,23,24,25,sep='@', end='$') # seperating the numbers wwith @ and ath the end putting $ sign
print() # for ging in next line
num1=15;num2=20 # storing numbers  in variables
print('The value of num1 is {} and num2 is {}'.format(num1,num2)) # printing variables 
print('M.Sc CS has {0} and {1}  courses'.format('AI','Lab on Python'))  # printing strored vales using indexing
print('M.Sc CS has {1} and {0} courses'.format('AI','Lab on Python')) # printing strored vales using indexing
 
print('Good Afternoon {ack}!! {msg}'.format(msg = 'Welcome to Lab on Python course', 
ack = 'Everyone')) # values are stored in the variables and printed using .format method

Enter a number 5
The number is  5
<class 'int'>
11 22 23 24 25
11@22@23@24@25$
The value of num1 is 15 and num2 is 20
M.Sc CS has AI and Lab on Python  courses
M.Sc CS has Lab on Python and AI courses
Good Afternoon Everyone!! Welcome to Lab on Python course

In [ ]:
#Functions
#simple function is created and called outside of the function
def hello():
    print("Hello everyone")
 
hello()

Hello everyone

In [ ]:
#function with return
def square(num):
     return num*num
 
print(square(5))
# function is created and it prints square of the number

25

In [ ]:
#function with default arguments
def add(num1,num2=5): # here num2 has 5 stored in it explicitly
    return num1 + num2
 
print(add(10,20)) # normal addition is done
print(add(6)) # here only 1 value was provided so it took 5 as the second operand as it was previously stored in num2

30
11

In [ ]:
#in case you don't know the number of arguments passed
def course(*coursenames):
    print("I am studying" + coursenames[1])
course("AI","Lab on Python","Microservices","Cloud Computing")
# Function is created and called outside of the function and using indexing it prints the desiredoutput

I am studyingLab on Python

In [ ]:
# key=value arguments
def coursen(cn1,cn2,cn3):
    print("I am studying " + cn3)
coursen(cn1="AI",cn2="Lab on Python",cn3="Microservices")
# here key value paires are checked and printed the desired output

I am studying Microservices

# 1. From Learn Python in 7 days book---page no. 142 to 160â€”read and solve all examples. Write your observations

In [ ]:
def helloWorld():
  """ 
  This is Hello World Program 
  """
  # Multiline comment
  print ("You are in Hello World") # print statement
helloWorld() # function called

You are in Hello World

In [ ]:
# Function with arguments
def func(passArgument):
  print (passArgument)
str = ("hello all")
func(str)

hello all

In [ ]:
# Function with an argument and return type
def sum(a, b):
  c = a+b
  return c
x = 10
y = 50
print("Result of addition ", sum(x,y))

Result of addition  60

In [ ]:
# Function with default argument
def info(name, age=50):
  print("Name", name)
  print("age", age)
info("John", age=28)
info("James")

Name John
age 28
Name James
age 50

In [ ]:
# Function with variable length argument
def variable_argument( var1, *vari):
  print("Out-put is",var1)
  for var in vari:
    print(var)
variable_argument(60)
variable_argument(100,90,40,50,60)

Out-put is 60
Out-put is 100
90
40
50
60

In [ ]:
# Key-value pair as variable length argument
def infocity(**var):
  print(var)
  for key, value in var.items():
    print("%s == %s" %(key,value))
infocity(name="l4w", age = 20, city="Los Angeles")
infocity(name="John",age=45, city="London", sex="male", medals=0)

{'name': 'l4w', 'age': 20, 'city': 'Los Angeles'}
name == l4w
age == 20
city == Los Angeles
{'name': 'John', 'age': 45, 'city': 'London', 'sex': 'male', 'medals': 0}
name == John
age == 45
city == London
sex == male
medals == 0

In [ ]:
# Pass by reference versus pass by value
def pass_ref(list1):
  list1.extend([23,89])
  print("list inside the function: ",list1)
list1 = [12,67,90]
print("list before pass", list1)
pass_ref(list1)
print("list outside the function", list1)

list before pass [12, 67, 90]
list inside the function:  [12, 67, 90, 23, 89]
list outside the function [12, 67, 90, 23, 89]

In [ ]:
def func(a):
  a=a+4
  print("Inside the function", a)
a= 10
func(a)
print("Outside the function", a)

Inside the function 14
Outside the function 10

In [ ]:
# Scope of variables
def func():
  a =12
print('''Inside the function the value of
a is acting as local variable''', a)
a= 10
func()
print('''Outside function the value of a is
acting as global variable''',a)

Inside the function the value of
a is acting as local variable 10
Outside function the value of a is
acting as global variable 10

In [ ]:
def func():
  a =12
print("a inside the function is the local variable",a)
func()
print("Trying to access the local variable outside the function.",a)

a inside the function is the local variable 10
Trying to access the local variable outside the function. 10

In [ ]:
def func():
  global k
  k=k+7
  print("variable k is now global",k)
k=10
func()
print("Accessing the value of k outside the function",k)

variable k is now global 17
Accessing the value of k outside the function 17

In [ ]:
# Memory management
k = 4
def main():
  list1 = []
  def add():
    for x in range(k):
      list1.append(x)
    print(list1)
  add()
main()

[0, 1, 2, 3]

# 2. From Think Python book----page no.17 to 26 solve examples. Also solve exercise 3.3, 3.4 and 3.5 including all sub exercises.

In [ ]:
# 3.1 Function calls
type(32)

int

In [ ]:
# 3.2 Type conversion functions
int('32')

32

In [ ]:
int('hello')

ValueError: ignored

In [ ]:
int(3.99999)

3

In [ ]:
int(-2.3)

-2

In [ ]:
float(32)

32.0

In [ ]:
float('3.14597')

3.14597

In [ ]:
# 3.3 Math functions
import math
print(math)

<module 'math' (built-in)>

In [ ]:
# 3.4 Composition
degrees = 45
x = math.sin(degrees / 360.0 * 2 * math.pi)
print(x)

0.7071067811865475

In [ ]:
y = math.exp(math.log(x+1))
print(y)

1.7071067811865475

In [ ]:
# 3.5 Adding new functions
def print_lyrics():
  print("I'm a lumberjack, and I'm okay.")
  print("I sleep all night and I work all day.")

In [ ]:
print(print_lyrics)

<function print_lyrics at 0x7ffbb7b8a8c0>

In [ ]:
print(type(print_lyrics))

<class 'function'>

In [ ]:
print_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

In [ ]:
def repeat_lyrics():
  print_lyrics()
  print_lyrics()

In [ ]:
repeat_lyrics()

I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.
I'm a lumberjack, and I'm okay.
I sleep all night and I work all day.

# 3. Write user defined function to display LCM of a given number

In [ ]:
def LCM(a,b):
  if a > b:
    greater = a
  else:
    greater = b
  while(True):
    if((greater % a == 0) and (greater % b == 0)):
      lcm = greater
      break
    greater += 1
  return lcm
n1 = int(input("Enter first operand - "))
n2 = int(input("Enter second operand - "))
print("LCM of", n1,"and",n2, "is",LCM(n1,n2))

Enter first operand - 3
Enter second operand - 4
LCM of 3 and 4 is 12

# 4. Write user defined function to convert and display Decimal to Binary

In [ ]:
def DecimalToBinary(n):
  return bin(n).replace("0b","")

if __name__ == '__main__':
  n = int(input("Enter number - "))
print(DecimalToBinary(n))

Enter number - 8
1000

# 5. Write user defined function to convert and display Binary to Decimal

In [ ]:
def DecimalToBinary(n):
  return "{0:b}".format(int(n))

if __name__ == '__main__':
  n = int(input("Enter number - "))
print(DecimalToBinary(n))

Enter number - 8
1000

# 5. Write user defined function to convert and display Binary to Decimal

In [ ]:
def BinaryToDecimal(n):
  return int(n,2)

if __name__ == '__main__':
  n = input("Enter binary number - ")
  print(BinaryToDecimal(n))

Enter binary number - 1000
8

# 6. Write user defined function to convert and display Decimal to Octal

In [ ]:
def DecToOct(n):
  OctNum = [0] * 100
  i = 0
  while (n != 0):
    OctNum[i] = n % 8
    n = int(n / 8)
    i += 1

  for j in range(i - 1, -1, -1):
    print(OctNum[j], end = "")
    
n = int(input("Enter Number - "))
DecToOct(n)

Enter Number - 8
10

# 7. Write user defined function to convert and display Decimal to Hexadecimal

In [ ]:
def DecimalHexa(n):
    hexa = ['0'] * 100
    i = 0
    while(n != 0):

        rem = 0
        rem = n % 16

        if(rem < 10): 
            hexa[i] = chr(rem + 48)
            i = i + 1
        else: 
            hexa[i] = chr(rem + 55)
            i = i + 1
        n = int(n / 16)

    j = i - 1
    while(j >= 0): 
        print((hexa[j]), end = ''); 
        j = j - 1
num = int(input('Enter a decimal number: '))

print('HexaDecimal value = ', end = '')
DecimalHexa(num)

Enter a decimal number: 10
HexaDecimal value = A

# 8. Write user defined function to display factorial of a number

In [ ]:
def Fact(n):
    a = 1
    for i in range(1,n+1):
        a = a*i
    print('factorial of',n,'is:',a)

n = int(input('Enter a number - '))
Fact(n)

Enter a number - 5
factorial of 5 is: 120

# 9. Write recursive function to display factorial of a number

In [ ]:
def RecursiveFactorial(n):  
   if n == 1:  
       return n  
   else:  
       return n*RecursiveFactorial(n-1)  
num = int(input("Enter a number - "))  
if num < 0:  
   print("Sorry, factorial does not exist for negative numbers")  
elif num == 0:  
   print("The factorial of 0 is 1")  
else:  
   print("The factorial of",num,"is",RecursiveFactorial(num))

Enter a number - 5
The factorial of 5 is 120

# 10. Write user defined function to implement bubble sort.

In [ ]:
def BubbleSort(arr):
  n = len(arr)
  for i in range(n-1):
    for j in range(0, n-i-1):
      if arr[j] > arr[j + 1]:
        arr[j], arr[j + 1] = arr[j + 1], arr[j]
        
arr = [10,20,45,60,56,70]
BubbleSort(arr)
print("Sorted array is - ")
for i in range(len(arr)):
  print("%d" % arr[i])

Sorted array is -
10
20
45
56
60
70

# 11. Write user defined function to display palindrome of a number

In [ ]:
def Pal(n):

    r = 0
    while(n>0):
        d = n%10
        r = r*10+d
        n = int(n/10)
    return(r)
num = int(input("Enter number - "))
r1 = Pal(num)
if(r1==num):
    print('Palindrome')
else:
    print("Not Palindrome")

Enter number - 454
Palindrome

# 12. Write user defined function to display reverse of a number

In [ ]:
def reverse(n):

    r = 0
    while(n>0):
        d = n%10
        r = r*10+d
        n = int(n/10)
    return(r)
num = int(input("Enter number - "))
print('Reverse of',num,'is',reverse(num))

Enter number - 456
Reverse of 456 is 654

# 13. Write function which can print a dictionary where the keys are numbers between 1 and 30 (both included) and the values are square of keys.

In [ ]:
def dic(d):
  for x in range(1,31):
    d[x]=x*2
    print(d)
dic(dict())

{1: 2}
{1: 2, 2: 4}
{1: 2, 2: 4, 3: 6}
{1: 2, 2: 4, 3: 6, 4: 8}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44, 23: 46}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44, 23: 46, 24: 48}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44, 23: 46, 24: 48, 25: 50}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44, 23: 46, 24: 48, 25: 50, 26: 52}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44, 23: 46, 24: 48, 25: 50, 26: 52, 27: 54}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44, 23: 46, 24: 48, 25: 50, 26: 52, 27: 54, 28: 56}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44, 23: 46, 24: 48, 25: 50, 26: 52, 27: 54, 28: 56, 29: 58}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22, 12: 24, 13: 26, 14: 28, 15: 30, 16: 32, 17: 34, 18: 36, 19: 38, 20: 40, 21: 42, 22: 44, 23: 46, 24: 48, 25: 50, 26: 52, 27: 54, 28: 56, 29: 58, 30: 60}